#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 40

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <5 6 7 8 9 16 17 18 19 26 27 28 29 35 15 25 33 34>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_1 {
            bindings = <
  &kp Q                &kp W            &kp E              &kp R                &kp T                        &none  &none  &none  &none  &none
  &hml LEFT_CONTROL A  &hml S LEFT_ALT  &hml D LEFT_SHIFT  &hml F LEFT_COMMAND  &kp G                        &none  &none  &none  &none  &none
  &kp Z                &kp X            &kp C              &kp V                &kp B                        &none  &none  &none  &none  &none
                                                           &mo 1                &kp SPACE  &kp TAB    &none  &none  &none
            >;
        };

        layer_2 {
            bindings = <
  &kp F4  &kp F1  &kp F2  &kp F3  &kp F5                  &none  &none  &none  &none  &none
  &kp N4  &kp N1  &kp N2  &kp N3  &kp N5                  &none  &none  &none  &none  &none
  &none   &none   &none   &none   &none                   &none  &none  &none  &none  &none
                          &none   &none   &none    &none  &none  &none
            >;
        };
    };
};
