#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 40

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <5 6 7 8 9 16 17 18 19 26 27 28 29 35 15 25 33 34>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_1 {
            bindings = <
  &kp TAB    &kp Q  &kp W  &kp E      &kp R                      &none  &none  &none  &none  &none
  &kp LSHFT  &kp A  &kp S  &kp D      &kp F                      &none  &none  &none  &none  &none
  &kp LCTRL  &none  &none  &none      &kp M                      &none  &none  &none  &none  &none
                           &kp ENTER  &sl 1  &kp SPACE    &none  &none  &none
            >;
        };

        layer_2 {
            bindings = <
  &kp ESC  &none   &none   &none     &kp Y                  &none  &none  &none  &none  &none
  &kp N4   &kp N1  &kp N2  &kp N3    &kp F                  &none  &none  &none  &none  &none
  &none    &none   &none   &kp BSPC  &kp G                  &none  &none  &none  &none  &none
                           &none     &none  &none    &none  &none  &none
            >;
        };
    };
};
