#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 40

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        ltd: ltd {
            compatible = "zmk,behavior-hold-tap";
            label = "LTD";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            hold-trigger-key-positions = <30 31>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
  &kp Q  &kp W  &kp E  &kp R            &kp T                          &trans  &trans  &trans  &trans  &trans
  &kp A  &kp S  &kp D  &kp F            &kp G                          &trans  &trans  &trans  &trans  &trans
  &kp Z  &kp X  &kp C  &kp V            &kp B                          &trans  &trans  &trans  &trans  &trans
                       &ltd 1 LEFT_ALT  &ltd 2 SPACE  &mo 3    &trans  &trans  &trans
            >;
        };

        layer_1 {
            bindings = <
  &kp Q  &kp W  &kp E  &kp R   &kp D                    &none  &none  &none  &none  &none
  &kp F  &kp A  &kp S  &none   &none                    &none  &none  &none  &none  &none
  &none  &none  &none  &none   &none                    &none  &none  &none  &none  &none
                       &trans  &trans  &trans    &none  &none  &none
            >;
        };

        layer_2 {
            bindings = <
  &kp N1  &kp N2  &kp N3  &none   &none                    &none  &none  &none  &none  &none
  &kp N4  &kp N5  &kp N6  &none   &none                    &none  &none  &none  &none  &none
  &kp N   &kp B   &kp F5  &none   &none                    &none  &none  &none  &none  &none
                          &trans  &trans  &trans    &none  &none  &none
            >;
        };

        layer_3 {
            bindings = <
  &kp F1   &kp F2   &kp F3  &kp F4   &kp C_PAUSE                   &none  &none  &none  &none  &none
  &kp F8   &kp TAB  &kp F9  &kp F10  &kp F11                       &none  &none  &none  &none  &none
  &kp F12  &kp F7   &none   &none    &none                         &none  &none  &none  &none  &none
                            &trans   &trans       &trans    &none  &none  &none
            >;
        };
    };
};
