#include "keys_ru.h"
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        cap_sen: cap_sen {
            compatible = "zmk,behavior-hold-tap";
            label = "CAP_SEN";
            bindings = <&mo>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            hold-while-undecided;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <26 28 27 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp ESC    &kp Q  &kp W         &kp E              &hml LC(R) R  &kp T                          &kp Y  &kp U           &kp I      &kp O     &kp P     &kp BSPC
&kp TAB    &kp A  &kp S         &kp D              &kp F         &kp G                          &kp H  &kp J           &kp K      &kp L     &kp SEMI  &kp BSLH
&kp LSHFT  &kp Z  &hml LG(X) X  &hml LG(C) C       &hml LG(V) V  &kp B                          &kp N  &kp M           &kp COMMA  &kp DOT   &kp RALT  &kp RSHFT
                  &kp LALT      &kp RIGHT_CONTROL  &kp LEFT_GUI  &sl 2  &lt 1 SPACE    &kp RET  &mo 3  &cap_sen 5 MB1  &kp LBKT   &kp RBKT
            >;

            display-name = "Base";
        };

        Navigation {
            bindings = <
&trans  &trans  &trans              &trans  &trans               &trans                    &trans  &trans    &trans    &trans  &trans     &trans
&trans  &trans  &kp LC(LEFT_ARROW)  &trans  &kp LC(RIGHT_ARROW)  &trans                    &trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans
&trans  &trans  &trans              &trans  &trans               &trans                    &trans  &trans    &trans    &trans  &trans     &trans
                &trans              &trans  &trans               &trans  &trans    &trans  &mo 4   &trans    &trans    &trans
            >;

            display-name = "Navigation";
        };

        FN {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6                    &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans   &trans   &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &mo 4   &trans  &trans  &trans
            >;

            label = "FN";
        };

        Symbols {
            bindings = <
&trans  &kp N1  &kp N2                &kp N3     &kp N4                 &kp N5                               &kp N6           &kp N7            &kp N8          &kp N9             &kp N0  &trans
&trans  &trans  &kp LEFT_PARENTHESIS  &kp MINUS  &kp RIGHT_PARENTHESIS  &kp SINGLE_QUOTE                     &kp GRAVE        &kp LESS_THAN     &kp UNDERSCORE  &kp GREATER_THAN   &trans  &trans
&trans  &trans  &kp LEFT_BRACE        &kp EQUAL  &kp RIGHT_BRACE        &kp DOUBLE_QUOTES                    &kp EXCLAMATION  &kp LEFT_BRACKET  &kp SLASH       &kp RIGHT_BRACKET  &trans  &trans
                &trans                &trans     &trans                 &mo 4              &trans    &trans  &trans           &trans            &trans          &trans
            >;

            display-name = "Symbols";
        };

        Adjust {
            bindings = <
&bootloader  &none  &none       &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &none                  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&none        &none  &kp C_MUTE  &kp C_VOLUME_DOWN     &kp C_VOLUME_UP       &none                  &out OUT_BLE  &none         &none         &none         &none         &studio_unlock
&none        &none  &none       &none                 &none                 &none                  &out OUT_USB  &none         &none         &none         &none         &none
                    &none       &none                 &none                 &none  &none    &none  &none         &none         &none         &none
            >;

            display-name = "Adjust";
        };

        Mouse {
            bindings = <
&trans  &trans    &trans    &trans          &mo 6     &trans                      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &mkp MB4  &mkp MB1  &cap_sen 7 MB3  &mkp MB2  &mkp MB5                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans    &trans    &trans          &trans    &trans                      &trans  &trans  &trans  &trans  &trans  &trans
                  &trans    &trans          &trans    &trans    &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };

        Sniper {
            bindings = <
&trans  &trans    &trans    &trans          &trans    &trans                      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &mkp MB4  &mkp MB1  &cap_sen 7 MB3  &mkp MB2  &mkp MB5                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans    &trans    &trans          &trans    &trans                      &trans  &trans  &trans  &trans  &trans  &trans
                  &trans    &trans          &trans    &trans    &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "Sniper";
        };

        Scroll {
            bindings = <
&trans  &trans    &trans    &trans    &trans    &trans                      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &mkp MB4  &mkp MB1  &mkp MB3  &mkp MB2  &mkp MB5                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans    &trans    &trans    &trans    &trans                      &trans  &trans  &trans  &trans  &trans  &trans
                  &trans    &trans    &trans    &trans    &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "Scroll";
        };
    };
};

&trackball { cpi = <1600>; };

&trackball_listener {
    input-processors = <&zip_xy_scaler 9 20>;

    sniper {
        layers = <6>;
        input-processors = <&zip_xy_scaler 1 4>;
    };

    scroller {
        layers = <7>;
        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
            <&zip_xy_scaler 1 32>,
            <&zip_xy_to_scroll_mapper>;
    };
};
